<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyh.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="com.hyh.activity.MainActivity">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>

        <activity android:name="com.hyh.lifecycle.TestLifecycleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name="com.hyh.activity.TestPopActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustPan">

        </activity>


        <activity android:name="com.hyh.activity.OtherActivity">

        </activity>

        <activity
            android:name="com.hyh.activity.TestActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.hyh.activity.StickyListActivity">



        </activity>
        <activity android:name="com.hyh.activity.StickyHeadsActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name="com.hyh.activity.ToastActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name="com.hyh.activity.AppbarLayoutTestActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name="com.hyh.activity.TestEventActivity"
            android:screenOrientation="portrait">

        </activity>


    </application>

</manifest>